.header{
  position: relative;

}

.header img{
  width: 100%;
  height: auto;
  display: block;
}

.header .carts{
  position: absolute;
  right: 20px;
  top: 3%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.header .cart-button{
    width: 29px;
    height: 29px;
}

.header .delivery-button {
  width: 37px;
  height: 37px;
}

.container{
  max-width: 1200px;
  margin: 5rem auto 0 auto;
  padding: 0 1 rem;
}

.text-center{
  text-align: center;
  font-size: 4rem;
  color: rgb(45, 77, 45);
}

.flex-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.mt-large{
  margin-top: 5rem;
}