.header {
  position: relative;
}

.header img {
  width: 100%;
  height: auto;
  min-height: auto;
  display: block;
}

.header .carts {
  position: absolute;
  right: 20px;
  top: 3%;
  z-index: 10;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.header .cart-button {
  width: 26px;
  height: 26px;
}

.header .delivery-button {
  width: 37px;
  height: 37px;
}

@media (max-width: 768px) {
  .header .cart-button {
    width: 16px;
    height: 16px;
  }

  .header .delivery-button {
    width: 20px;
    height: 20px;
  }
}

.popup-modal {
  display: none;
  position: absolute;
  top: 45px;
  right: 0;
  width: 340px;
  max-height: 80vh;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  z-index: 100;
}

.popup-modal.block {
  display: block;
}

.container {
  max-width: 1200px;
  margin: 5rem auto 0 auto;
  padding: 0 1 rem;
}

.text-center {
  text-align: center;
  font-size: 4rem;
  color: rgb(45, 77, 45);
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mt-large {
  margin-top: 5rem;
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.column {
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .column-md {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (min-width: 992px) {
  .column-lg {
    flex: 0 0 33.3333%;
    max-width: 80%;
  }
}

.margin-y-lg {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.column-lg img {
  width: 100%;
  height: auto;
  display: block;
}

.column details {
  text-align: justify;
  padding-top: 5px;
}

h2 {
  font-size: 1.5rem;
  color: rgb(45, 77, 45);
  margin-bottom: 0;
  text-align: center;
  font-family: serif;
}

p {
  text-align: center;
  font-family: serif;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-top: auto;
}

.price {
  font-size: 1.8rem;
  color: rgb(76, 109, 76);
  font-weight: bold;
}

.btn {
  background-color: black;
  color: white;
  border-radius: 5%;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: bold;
  display: block;
  margin: 1rem auto 0 auto;
  width: max-content;
}

.reference {
  color: gray;
}

.column-sizes {
  padding: 10 px 20 px;
  margin: 0.5rem auto 0 auto;
  width: max-content;
}
.size {
  border: 1px solid rgb(187, 177, 177);
  border-radius: 4px;
  padding: 2px 6px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: transparent;
}

.size:hover {
  background-color: rgb(187, 177, 177);
}

.size.selected {
  background-color: rgb(187, 177, 177);
}

thead {
  font-family: "arial";
  font-size: 0.8rem;
}

thead th {
  background-color: rgba(228, 228, 228, 0.815);
  padding: 12px 10px;
  border: none;
  text-align: left;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  font-size: 0.8rem;
  text-align: center;
  font-family: "arial";
  word-wrap: break-word;
  white-space: normal;
}

.btn-remove {
  width: 100%;
  height: 6vh;
  background-color: rgb(238, 218, 181);
  border-color: wheat;
  color: rgb(75, 71, 71);
  font-weight: bold;
}

.text-TotalPay {
  text-align: right;
}

.text-TotalPay::before {
  content: "";
  display: inline-block;
  background-color: rgba(184, 180, 180, 0.822);
  height: 0.3vh;
  width: 100%;
}

.iconXmark {
  color: red;
  width: 20px;
  height: auto;
  cursor: pointer;
}

.iconsMinus-plus {
  height: 20px;
  width: auto;
  cursor: pointer;
}

.footer {
  width: 100%;
  padding: 10px;
  height: 250px;
  background-color: rgba(212, 212, 191, 0.822);
  box-sizing: border-box;
}

.cont-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  max-width: 100%;
}

.footer-col {
  display: flex;
  flex-direction: column;
  padding: 10px;
  flex: 1 1 100%;
  min-width: 0;
}

.footer-col p {
  text-align: center;
  margin: 5px 0;
  cursor: pointer;
  font-family: "arial";
  font-size: 0.5rem;
  word-break: break-word;
  overflow-wrap: break-word;
}

h4 {
  text-align: center;
}

h4::after {
  content: "";
  display: block;
  width: 20%;
  height: 0.3vh;
  background-color: black;
  margin: 5px auto 0 auto;
}

@media (min-width: 768px) {
  .footer-col {
    flex: 1 1 50%;
  }

  .footer-col p {
    font-size: 0.8rem;
  }
}

@media (min-width: 992px) {
  .footer-col {
    flex: 1 1 33.3333%;
    font-size: 1rem;
  }
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.social-media svg {
  width: 30px;
  height: auto;
  cursor: pointer;
}
